<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <a href="/community-creations"> < back </a>
    <h1><%= title %></h1>
    <form action="" method="post">
      <div class="name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="hp">
        <label for="hp">HP:</label>
        <input type="number" id="hp" name="hp" />
      </div>
      <div class="type">
        <label for="type">Type: </label>
        <select name="type" id="type" name="type">
          <% types.forEach((t) => { %>
          <option value="<%= t.type %>"><%= t.type %></option>
          <% }) %>
        </select>
      </div>
      <div class="description">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
      </div>
      <div class="attack-1">
        <label for="attack-1">Attack:</label>
        <input type="text" id="attack-1" name="attack-1" />
      </div>
      <div class="attack-1-description">
        <label for="attack-1-description">Attack description:</label>
        <input
          type="text"
          id="attack-1-description"
          name="attack-1-description"
        />
      </div>
      <div class="damage-1">
        <label for="damage-1">Damage:</label>
        <input type="number" id="damage-1" name="damage-1" />
      </div>
      <div class="cost-1">
        <label for="cost-1">Cost</label>
        <% types.forEach((t) => { %>
        <input type="checkbox" id="cost-1" name="cost-1" />
        <label for="cost-1"><%= t.type %></label>
        <% }) %>
      </div>
      <div class="attack-2">
        <label for="attack-2">Attack:</label>
        <input type="text" id="attack-2" name="attack-2" />
      </div>
      <div class="attack-2-description">
        <label for="attack-2-description">Attack description:</label>
        <input
          type="text"
          id="attack-2-description"
          name="attack-2-description"
        />
      </div>
      <div class="damage-2">
        <label for="damage-2">Damage:</label>
        <input type="number" id="damage-2" name="damage-2" />
      </div>
      <div class="cost-2">
        <label for="cost-2">Cost</label>
        <% types.forEach((t) => { %>
        <input type="checkbox" id="cost-2" name="cost-2" />
        <label for="cost-2"><%= t.type %></label>
        <% }) %>
      </div>
      <div class="weakness">
        <label for="weakness">Weakness:</label>
        <% types.forEach((t) => { %>
        <input type="checkbox" id="weakness" name="weakness" />
        <label for="weakness"><%= t.type %></label>
        <% }) %>
      </div>
      <div class="resistance">
        <label for="resistance">Resistance:</label>
        <% types.forEach((t) => { %>
        <input type="checkbox" id="resistance" name="resistance" />
        <label for="resistance"><%= t.type %></label>
        <% }) %>
      </div>
      <div class="retreat-cost">
        <label for="retreat-cost">retreat cost:</label>
        <% types.forEach((t) => { %>
        <input type="checkbox" id="retreat-cost" name="retreat-cost" />
        <label for="retreat-cost"><%= t.type %></label>
        <% }) %>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
