<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/communityCreations.css" />
  </head>
  <body>
    <% if (error) { %>
    <h1><%= title %></h1>
    <p>Sorry there was an error. Please try again later</p>
    <% } %>
    <h1><%= title %></h1>
    <p>Number of cards created: <%= cardCount %></p>
    <div id="all-cards">
      <% name.forEach((n, i) => { %>
      <div
        class="card-Container"
        style="border-color: black; border-width: 5px; border: solid"
      >
        <div clas="name">
          <h4><%= name[i] %></h4>
        </div>
        <div class="hp">
          <h4><%= hp[i] %> HP</h4>
        </div>
        <div class="type">
          <p>Type: <%= type[i] %> type</p>
        </div>
        <div class="image">
          <p>Image will be displayed here</p>
        </div>
        <div class="cost-1">
          <p>Cost: <%= cost_1[i] %></p>
        </div>
        <div class="attack-1">
          <h4><%= attack_1[i] %></h4>
        </div>
        <div class="attack-1-description">
          <p><%= attack_1_description[i] %></p>
        </div>
        <div class="damage-1">
          <h4><%= damage_1[i] %></h4>
        </div>
        <div class="cost-2">
          <p>Cost: <%= cost_2[i] %></p>
        </div>
        <div class="attack-2">
          <h4><%= attack_2[i] %></h4>
        </div>
        <div class="attack-2-description">
          <p><%= attack_2_description[i] %></p>
        </div>
        <div class="damage-2">
          <h4><%= damage_2[i] %></h4>
        </div>
        <div class="weakness">
          <p>Weakness: <%= weakness[i] %></p>
        </div>
        <div class="resistance">
          <p>Resistance: <%= resistance[i] %></p>
        </div>
        <div class="retreat-cost">
          <p>Retreat Cost: <%= retreat_cost[i] %></p>
        </div>
        <div class="description">
          <p><%= description[i] %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
