<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/communityCreations.css" />
  </head>
  <body>
    <% if (error) { %>
    <h1><%= title %></h1>
    <p>Sorry there was an error. Please try again later</p>
    <% } %>
    <h1><%= title %></h1>
    <p>Number of cards created: <%= cardCount %></p>
    <div id="all-cards">
      <% allCardData.forEach((c) => { %>
      <div
        class="card-Container"
        style="border-color: black; border-width: 5px; border: solid"
      >
        <div clas="name">
          <h4><%= c.name %></h4>
        </div>
        <div class="hp">
          <h4><%= c.hp %> HP</h4>
        </div>
        <div class="type">
          <p>Type: <%= c.type.type %> type</p>
        </div>
        <div class="image">
          <p>Image will be displayed here</p>
        </div>
        <div class="cost-1">
          <p>Cost: <%= c.cost_1 %></p>
        </div>
        <div class="attack-1">
          <h4><%= c.attack_1 %></h4>
        </div>
        <div class="attack-1-description">
          <p><%= c.attack_1_description %></p>
        </div>
        <div class="damage-1">
          <h4><%= c.damange_1 %></h4>
        </div>
        <div class="cost-2">
          <p>Cost: <%= c.cost_2 %></p>
        </div>
        <div class="attack-2">
          <h4><%= c.attack_2 %></h4>
        </div>
        <div class="attack-2-description">
          <p><%= c.attack_2_description %></p>
        </div>
        <div class="damage-2">
          <h4><%= c.damage_2 %></h4>
        </div>
        <div class="weakness">
          <p>Weakness: <%= c.weakness %></p>
        </div>
        <div class="resistance">
          <p>Resistance: <%= c.resistance %></p>
        </div>
        <div class="retreat-cost">
          <p>Retreat Cost: <%= c.retreat_cost %></p>
        </div>
        <div class="description">
          <p><%= c.description %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
