<%- include("partials/header", {user: user}) -%>

  <div id="My-card-details-page">
    <a href="/mycards"> < Back to my cards </a>
    <h1><%= title %></h1>
    <% if (user && user.isAdmin === true || user && user.membershipstatus === true) {%>
    <a class="button" href="<%= cardDetails._id%>/edit">Edit</a>
    <div>
      <form action="" method="post">
        <input type="hidden" name="card" value="<%= cardDetails._id %>" />
        <button id="delete-card" type="submit">Delete</button>
      </form>
    </div>
    <% } else {null} %>
    <div
      class="card-container"
      style="border-color: black; border-width: 5px; border: solid"
    >
      <div clas="name">
        <h4><%= cardDetails.name %></h4>
      </div>
      <div class="hp">
        <h4><%= cardDetails.hp %> HP</h4>
      </div>
      <div class="type">
        <h4>Type</h4>
        <p><%= cardDetails.type.type %></p>
      </div>
      <!-- <div class="image">
        <p>Image will be displayed here</p>
      </div> -->
      <div class="cost_1">
        <p>Cost:</p>
        <% if (cardDetails.cost_1.length !==0) { %>
          <% cardDetails.cost_1.forEach((c1) => { %>
            <p><%= c1.type %></p>
            <% }) %>
        <% } else { %>
          <p> - </p> 
          <% } %>
      </div>
      <div class="attack_1">
        <h4><%= cardDetails.attack_1 %></h4>
      </div>
      <div class="attack_1_description">
        <h4>Description</h4>
        <% if (cardDetails.attack_1_description) {%>
        <p><%= cardDetails.attack_1_description %></p>
        <% } else {  %>
          <p> - </p>
        <% } %>
      </div>
      <div class="damage_1">
        <h4>Damage</h4>
        <% if (cardDetails.damage_1) { %>
          <p><%= cardDetails.damage_1 %></p>
          <% } else { %>
            <p> - </p>
          <% } %>
      </div>
      <div class="cost_2">
        <p>Cost:</p>
        <% if (cardDetails.cost_2.length !==0) { %>
          <% cardDetails.cost_2.forEach((c2) => { %>
            <p><%= c2.type %></p>
            <% }) %>
        <% } else { %>
          <p> - </p> 
          <% } %>
      </div>
      <div class="attack_2">
        <h4>Attack</h4>
        <% if (cardDetails.attack_2) { %>
          <p><%= cardDetails.attack_2 %></p>
          <% } else { %>
            <p> - </p>
          <% } %>
      </div>
      <div class="attack_2_description">
        <h4>Description</h4>
        <% if (cardDetails.attack_2_description) {%>
        <p><%= cardDetails.attack_2_description %></p>
        <% } else {  %>
          <p> - </p>
        <% } %>
      </div>
      <div class="damage_2">
        <h4>Damage</h4>
        <% if (cardDetails.damage_2) { %>
          <p><%= cardDetails.damage_2 %></p>
          <% } else { %>
            <p> - </p>
          <% } %>
      </div>
      <div class="weakness">
        <h4>Weakness:</h4>
        <% if (cardDetails.weakness.length !==0) { %>
          <% cardDetails.weakness.forEach((w) => { %>
            <p><%= w.type %></p>
            <% }) %>
        <% } else { %>
          <p> - </p> 
          <% } %>
      </div>
      <div class="resistance">
        <h4>Resistance</h4>
        <% if (cardDetails.resistance.length !==0) { %>
          <% cardDetails.resistance.forEach((r) => { %>
            <p><%= r.type %></p>
            <% }) %>
        <% } else { %>
          <p> - </p> 
          <% } %>
      </div>
      <div class="retreat_cost">
        <h4>Retreat cost</h4>
        <% if (cardDetails.retreat_cost.length !==0) { %>
          <% cardDetails.retreat_cost.forEach((rc) => { %>
            <p><%= rc.type %></p>
            <% }) %>
        <% } else { %>
          <p> - </p> 
          <% } %>
      </div>
      <div class="description">
        <h4>Description</h4>
        <p><%= cardDetails.description %></p>
      </div>
    </div>
    <div id="comment-section-title">
      <h2>Leave a comments</h2>
    </div>
    <div id="comment-form">
      <form action="/cards/card/:id/comments/create" method="post" onsubmit="refreshComments()">
        <div>
          <textarea name="body" id="body" cols="50" rows="5" placeholder="Leave a comment..."></textarea>
        </div>
        <input type="hidden" name="cardId" value="<%= cardDetails._id %>">
        <input type="submit" value="Post">
      </form>
    </div>
    <script>
      function refreshComments() {
        $.ajax({
          success: function() {
            window.location.reload();
          },
        })
      }
    </script>
    <div id="comments">
      <% comments.forEach((comment) => { %>
        <div class="user">
          <%= comment.user_id.username %>
        </div>
        <div class="comment">
          <%= comment.body %>
        </div>
        <div class="date">
          <%= comment.comment_date %>
        </div>
      <% }) %>
    </div>

  </div>
</html>
