<%- include("partials/header", {user: user}) -%>

  <div id="Mycards-page">
    <% if (error) { %>
    <h1><%= title %></h1>
    <p>Sorry there was an error. Please try again later</p>
    <% } %>
    <h1><%= title %></h1>
    <p>Number of cards created: <%= cardCount %></p>
    <% if (user.membershipstatus === false) { %>
      <p>It looks like you don't have a membership yet. Sign up in your settings to start creating cards today!</p>
    <% } else { %>
      <div id="button-pos">
        <a class="button" href="/cards/create-card" style="text-decoration:none">Create card</a>
      </div>
    <% } %>
    <div id="my-cards-grid-container">
      <% memberCards.forEach((c) => { %>
        <div id="my-cards-grid-item">
          <a href="<%= c.cards_url %>" style="text-decoration:none">
            <div
              class="card-container"
              style="border-color: black; border-width: 5px; border: solid"
            >
            <% if (user && user.isAdmin === true) {%>
              <div>
                <form action="" method="post">
                  <input type="hidden" name="card" value="<%= c._id %>" />
                  <button id="delete-card" type="submit">Delete</button>
                </form>
              </div>
              <% } else {null} %>
              <div class="card-item name">
                <h4><%= c.name %></h4>
              </div>
              <div class="card-item hp">
                <h4><%= c.hp %> HP</h4>
              </div>
              <div class="card-item type">
                <h4>Type</h4>
                <p><%= c.type.type %></p>
              </div>
              <!-- <div class="image">
                <p>Image <%= c.image %></p>
              </div> -->
              <div class="card-item cost_1">
                <h4>Cost</h4>
                <% if (c.cost_1.length !==0) { %>
                  <% c.cost_1.forEach((c1) => { %>
                    <p><%= c1.type %></p>
                    <% }) %>
                <% } else { %>
                  <p> - </p> 
                  <% } %>
              </div>
              <div class="card-item attack_1">
                <h4>Attack</h4>
                <p><%= c.attack_1 %></p>
              </div>
              <div class="card-item attack_1_description">
                <h4>Description</h4>
                <% if (c.attack_1_description) {%>
                <p><%= c.attack_1_description %></p>
                <% } else {  %>
                  <p> - </p>
                <% } %>
              </div>
              <div class="card-item damage_1">
                <h4>Damange</h4>
                <% if (c.damage_1) { %>
                  <p><%= c.damage_1 %></p>
                  <% } else { %>
                    <p> - </p>
                  <% } %>
              </div>
              <div class="card-item cost_2">
                <h4>Cost</h4>
                <% if (c.cost_2.length !==0) { %>
                  <% c.cost_2.forEach((c2) => { %>
                    <p><%= c2.type %></p>
                    <% }) %>
                <% } else { %>
                  <p> - </p> 
                  <% } %>
              </div>
              <div class="card-item attack_2">
                <h4>Attack</h4>
                <% if (c.attack_2) { %>
                  <p><%= c.attack_2 %></p>
                  <% } else { %>
                    <p> - </p>
                  <% } %>
              </div>
              <div class="card-item attack_2_description">
                <h4>Description</h4>
                <% if (c.attack_2_description) {%>
                <p><%= c.attack_2_description %></p>
                <% } else {  %>
                  <p> - </p>
                <% } %>
              </div>
              <div class="card-item damage_2">
                <h4>Damage</h4>
                <% if (c.damage_2) { %>
                  <p><%= c.damage_2 %></p>
                  <% } else { %>
                    <p> - </p>
                  <% } %>
              </div>
              <div class="card-item weakness">
                <h4>Weakness</h4>
                <% if (c.weakness.length !==0) { %>
                  <% c.weakness.forEach((w) => { %>
                    <p><%= w.type %></p>
                    <% }) %>
                <% } else { %>
                  <p> - </p> 
                  <% } %>
              </div>
              <div class="card-item resistance">
                <h4>Resistance</h4>
                <% if (c.resistance.length !==0) { %>
                  <% c.resistance.forEach((r) => { %>
                    <p><%= r.type %></p>
                    <% }) %>
                <% } else { %>
                  <p> - </p> 
                  <% } %>
              </div>
              <div class="card-item retreat_cost">
                <h4>Retreat cost</h4>
                <% if (c.retreat_cost.length !==0) { %>
                  <% c.retreat_cost.forEach((rc) => { %>
                    <p><%= rc.type %></p>
                    <% }) %>
                <% } else { %>
                  <p> - </p> 
                  <% } %>
              </div>
              <div class="card-item description">
                <h4>Description</h4>
                <p><%= c.description %></p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</html>
